* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

img {
    width: 100%;
    border-radius: 20px;
}

body {
    background: rgba(5, 5, 5, 0.66);
    font-size: 24px;
}

input {
    opacity: 0;
}

span {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    display: none;
}

.checkbox:checked ~ span {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 40px;
    transform: rotate(45deg);
}

.container {
    max-width: 1170px;
    margin: 30px auto 0;
    padding: 20px 15px;
    background-image: linear-gradient(rgba(48, 64, 64, 0.7), rgba(249, 0, 0, 0.7), rgba(79, 68, 68, 0.7));
    border-radius: 20px;
}

.title {
    margin: 0 0 25px 0;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.list-hover-1 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('./img/ocean.png');
}
.list-hover-2 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("./img/forest.jpg");
}
.list-hover-3 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("./img/mountains.jpg");
}
.list-hover-4 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("./img/space.jpg");
}
.list-hover-5 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("./img/blackhole.jpeg");
}
/* background: center / contain no-repeat url("../../media/examples/firefox-logo.svg") */

.checkbox:checked ~ .visible-1 {
    opacity: 1;
    position: static;
    transform: scale(1, 1);
}
.checkbox:checked ~ .visible-2 {
    opacity: 1;
    position: static;
    transform: scale(1, 1);
}
.checkbox:checked ~ .visible-3 {
    opacity: 1;
    position: static;
    transform: scale(1, 1);
}
.checkbox:checked ~ .visible-4 {
    opacity: 1;
    position: static;
    transform: scale(1, 1);
}
.checkbox:checked ~ .visible-5 {
    opacity: 1;
    position: static;
    transform: scale(1, 1);
}

.list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    border-radius: 5px;
}

.list-item {
    position: relative;
    padding: 20px 15px;
    border-top: 1px solid rgba(14, 4, 6, 0.2);
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 255, 255, 0.7);
    transition: 1s;
}
.list-item-text {
}
.list-item-img {
    position: absolute;
    top: 0; 
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    z-index: -1;
    transform: scale(0, 0);
}

@media screen and (min-width: 1080px) and (max-width: 1920px) {
    .list-item {
        cursor: pointer;
    }
    .list-item:hover span {
        color: rgb(255, 255, 255);
        transform: rotate(135deg);
        transition: 0.5s;
    }
    
    .list:hover span {
        display: block;
        font-size: 40px;
        font-weight: bold;
    }


    .list:hover .list-item{
        color: rgba(255, 255, 255, 0.9);
    }

    .list-hover-1:hover {
    }

    .list-hover-1:hover > .visible-1 {
        transition: 0.5s;
        display: flex;
        position: static;
        opacity: 1;
        transition: 0.5s;
        transform: scale(1, 1);
    }
    .list-hover-1:hover > .visible-1 img{
        position: static;
        display: flex;
        opacity: 1;
        transition: 0.5s;
    }
    .list-hover-2:hover > .visible-2 {
        display: flex;
        position: static;
        opacity: 1;
        transition: 0.5s;
        transform: scale(1, 1);
    }
    .list-hover-3:hover > .visible-3 {
        display: flex;
        position: static;
        opacity: 1;
        transition: 0.5s;
        transform: scale(1, 1);
    }
    .list-hover-4:hover > .visible-4 {
        display: flex;
        position: static;
        opacity: 1;
        transition: 0.5s;
        transform: scale(1, 1);
    }
    .list-hover-5:hover > .visible-5 {
        display: flex;
        position: static;
        opacity: 1;
        transition: 1s;
        transform: scale(1, 1);
    }
 } /* Media query  1080px/1920px */

@media screen and (min-width: 820px) and (max-width: 1179px) {
    .list-item {
        font-size: 20px;
    }
 } /* Media query 820px/1179px */

 @media screen and (min-width: 320px) and (max-width: 568px) {
    .list-item {
        font-size: 16px;
    }
 } /* Media query 320px/568px */