* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

img {
    width: 100%;
}

body {
    background-color: rgba(3, 141, 116, 0.7);
}

input {
    opacity: 0;
}
